body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(7px);
    background: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    background: #ffffff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
    text-align: center;
}

canvas {
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
    cursor: crosshair;
}

.popup-buttons {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

button {
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
}

#saveBtn {
    background-color: #2A9D8F;
    color: white;
}

#skipBtn {
    background-color: #ccc;
}

